<html>
    <head>
        <title></title>
    </head>
    <body>
        <form>
            <label>Item name</label><br>
            <input type="text">

            <br><br>
            <label>Category</label><br>
            <select name="cat" id="cat">
            <option value="Food">Food</option>
            <option value="Clothes">Clothes</option>
            <option value="Travel">Travel</option>
            <option value="Other">Other</option>
            </select>
            
            <br><br>
            <label>Price</label><br>
            <input type="text">
        </form>
    </body>
</html>