<!DOCTYPE html>
<head>
    <title>
        Home Page

    </title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
 <body>
    <nav style="background-color: black;padding-top: 15px;padding-bottom: 15px;">
          <a href="#" style="padding-left: 10px; padding-right: 10px;">Logo</a> 
          <a href="#" style="padding-left: 10px; padding-right: 10px;">Profile</a>
          <a href="#" style="padding-left: 10px; padding-right: 10px;">Logout</a>
          <a href="#" style="padding-left: 10px; padding-right: 10px;">contact us</a>
    </nav>
    <div class="flex-container" style="display: flex; justify-content: center; flex-wrap: wrap;">
  
      <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); width: 250px;height: 300px; padding: 10px; margin: 20px;">
        <div class="container">
        <h4><b>Chart</b></h4>
        
        </div>
      </div>
  
      <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); width: 250px;height: 300px; padding: 10px; margin: 20px;">
        <div class="container">
              <h4><b>test</b></h4>
              <p></p>
            </div>
          </div>
    </div>
  
  <br> <br>
  
    <div class="flex-container" style="display: flex; justify-content: center; flex-wrap: wrap;">

      <button style="margin: 10px;">view details</button>
      <button style="margin: 10px;">Upload</button>
      <!-- untill the button is clicked the following will be hidden and then this option will be shown -->
      <!-- <form action="/action_page.php" style="margin: 10px;">
        <input type="file" id="myFile" name="filename">
        <input type="submit"> -->
      </form>
    </div>  
</body>
</html>