<html>
<head>
	<title>Login And Registration Form</title>
	<link rel="stylesheet" href="login.css">

</head>
<body>
	<div class="hero">
		<div class="form-box">
			<div class="form-header"><h1>Login</h1></div>
			<form id="login" class="input-group">
				<input type="text" class="input-field" placeholder="User Id" required>
				<input type="text" class="input-field" placeholder="Enter password" required>
				<button type="submit" class="submit-btn">Log in</button>
			</form>
			<section>
				<div class="footer-text">or sign up using</div>
				<div class="signup-link"><a href="signup.html">Sign up</a></div>
			</section> 
		</div>
	</div>

</body>
</html>