<html>
<head>
	<title>Login And Registration Form</title>
	<link rel="stylesheet" href="signup.css">
</head>
<body>
	<div class="hero">
		<div class="form-box">
			<div class="form-header"><h1>Sign up</h1></div>
			<form id="register" class="input-group">
				<input type="text" class="input-field" placeholder="User Id" required>
				<input type="text" class="input-field" placeholder="First Name" required>
				<input type="text" class="input-field" placeholder="Last Name" required>
				<input type="text" class="input-field" placeholder="Enter password" required>
				<button type="submit" class="submit-btn">Register</button>
			</form>
			<section>
				<div class="footer-text">or login using</div>
				<div class="login-link"><a href="login.html">Login</a></div>
			</section>
		</div>
	</div>
	
</body>
</html>